                                                 /* BODY */
body {
    display: flex;
    margin: 0px;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: auto;
    padding-left: 0; /* Remove padding to the left */
    padding-right: 0; /* Remove padding to the right */
    background-color: #ffffff;
}
                                                 /*  HEADER CONTAINER*/
#header-container {
    position: fixed;
    top: 0; /* Fixed at the top of the viewport */  
    margin-left: 30px;
    background-color: transparent;
    height:80px;
}

                                                /* NAVI CONTAINER  */
#navi-container {
    position: fixed;
    top: 70px; /* Adjust the top value to create space below the header */
    display: flex;
    margin-left: 30px;
    z-index: 1000; /* Adjust the z-index as needed */ 
    
}
                                             /* CONTENT CONTAINER */

#content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width:auto;
}
                                         /* IAMGE CONTAINER  */

#image-container {
    height: 70vh;
    width:4000px;
    display: flex;
    text-align: center; /* Center the content horizontally */
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}  

#silver-image-container {
    height: 70vh;
    width: 1500px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}  
                                            /* ABOUT CONTAINER  */
#about-container {
    height: 70vh;
    width:3000px;
    display: flex;
    text-align: center; /* Center the content horizontally */
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}  

                                          /* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    margin-left: 30px;
    padding-left: 0px;
    
    
    display: flex;
    flex-direction: row; 
    /*justify-content: space-between; /* or left*/
    align-items: center;    
    transition: justify-content 2s ease; 

}



                                          /* TEXT FORMATTING */
header a {
    text-decoration: none;
    color: inherit;
}

.header-text {
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 0px;
    margin-top: 23px;
}


.navi-text {            /* navi and footer text */
    font-family: Arial, sans-serif;
    margin: 4px 0px; /* Add spacing between navigation items */
    text-decoration: none; /* Remove underlines from links */
    display: block; /* Make the entire text area clickable */
    padding-right: 40px; /* Add padding for better clickability */ 
}


.navi-text:hover {
    text-decoration: underline;
  }

.about-text {
     text-align: justify;
     font-family: Arial, sans-serif;
}



                                          /* IAMGES */
                                          /* ALIEN */


#image2 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 70%;
}
#image1 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 100%;
}
#image3 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 60%;
}
#image4 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 70%;
}
#image5 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 70%;
}


                                          /* DARK */
#image6 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 70%;
}
#image7 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 70%;
}
#image8 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 70%;
}                                 
#image9 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 60%;
}
                                          /* SILVER */

#image10 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 70%;
}
#image11 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 70%;
}                                 
#image12 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 70%;
}






                                          /* LINK FORMATTING */
a[href="about.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="contact.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="https://www.instagram.com/tothbator"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="alien.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="dark.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="index.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="silver.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}



@media (max-width: 768px){
#image2 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 60%;
}

#image1 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 90%;
}
#image3 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 50%;
}
#image4 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 60%;
}
#image5 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 60%;
}


                                          /* DARK */
#image6 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 60%;
}
#image7 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 60%;
}
#image8 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 60%;
}                                 
#image9 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 60%;
}
                                          /* SILVER */

#image10 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 60%;
}
#image11 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 60%;
}                                 
#image12 {
margin-left: 20px;
margin-right: 20px;
max-width: 100%;
max-height: 60%;
}
}












                                        
