body {
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 0 50px; /* Add padding to left and right so contents aren't right on the edge */
    background-color: #ffffff;
}




                                          /* HEADER */

#header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


                                          /* NAVIGATION */
#navi-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
}

                                          /* TEXT FORMATTING */
header a {
    text-decoration: none;
    color: inherit;
}

.header-text {
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.navi-text {
    font-family: Arial, sans-serif;
    margin: 2px 0; /* Add spacing between navigation items */
    text-decoration: none; /* Remove underlines from links */
    display: block; /* Make the entire text area clickable */
    padding: 5px; /* Add padding for better clickability */   
}

.about-text {
     text-align: justify;
     font-family: Arial, sans-serif;
}

                                          /* CONTENT CONTAINER */
#content-container {
    width: 100%; /* Set the width of the right column */
    height: auto; 
    float: right; /* Float it to the left so it appears alongside the navigation */
}

                                          /* CONTENT CONTAINER IMAGES */
#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the content horizontally */
    margin: 0 auto;
    height: auto; /* Let the height adjust automatically based on content */
}

                                          /* CONTENT CONTAINER - ABOUT */
#about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the content horizontally */
    margin: 0 auto;
    height: auto; /* Let the height adjust automatically based on content */
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    /*   for the LINE BREAK */
    flex-direction: column;
    align-items: flex-start;
}


                                          /* LINK FORMATTING */
a[href="about.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="contact.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="https://www.instagram.com/tothbator"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="alien.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}
a[href="dark.html"] {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}


                                          /* IAMGES */
#image1, #image2, #image3, #image4  {
    display: none;
}

#image1 {
    max-width: 30%;
    max-height: 100%;
    object-fit: contain;
     cursor: pointer;
}


#image2 {
    max-width: 30%;
    max-height: 100%;
    object-fit: contain;
     cursor: pointer;
}

#image3 {
    max-width: 30%;
    max-height: 100%;
    object-fit: contain;
     cursor: pointer;
}
#image4 {
    max-width: 30%;
    max-height: 100%;
    object-fit: contain;
     cursor: pointer;
}

                                          /* FOOTER */
footer {
  
    padding-top: 20px;
    padding-bottom: 20px;
}
footer p {
    display: inline; /* Make the text elements inline so they appear next to each other */
    
}

                                          /* MOBILE */
@media (max-width: 768px) {
    header a {
    /* header on mobile */
    text-decoration: none;
    color: inherit;
}
    #content-container {
        padding-top: 100px; /* Increase the space above the content container for mobile */
    }

    #image1 {
        max-width: 100%; /* Set a different max-width for mobile */
    }
#image2 {
        max-width: 100%; /* Set a different max-width for mobile */
    }
#image3 {
        max-width: 100%; /* Set a different max-width for mobile */
    }

#image4 {
        max-width: 100%; /* Set a different max-width for mobile */
    }
              
#about-container {
       /* about text'padding  on mobile */
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    }
}

